.talk-cell {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eee;
  padding: 10px;
  overflow: hidden;
}

.talk-cell .talk-title {
  font-style: normal;
  font-size: 1.2em;
  margin: 0 0 0.3em;
  text-transform: none;
}

.talk-cell .talk-speakers {
  font-size: 0.9em;
  margin: 0 0 0.3em;
}

.top-terms {
  margin-top: 10px;
}



.term {
  display: inline-block;
  margin: 0 5px 5px 0;
  font-size: 0.8em;
  background: rgba(255,255,255,0.4);
  padding: 4px;
}


.focused-talk {
  padding: 10px;
  border: 1px solid #eee;
  background-color: rgba(240,240,240,0.4);
  margin: 0 0 10px;
}

.focused-talk header {
  font-size: 0.7em;
}

.focused-talk .talk-title {
  text-transform: none;
  font-style: normal;
}

#Talk-vis text {
  dominant-baseline: hanging;
}