.talk-grid-cell {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eee;
  padding: 0 0 30px;
  overflow: hidden;
  width: 355px;
  margin: 0 10px 10px 0;
  position: relative;

  &:hover {
    .talk-grid-cell-main {
      background-color: transparent;
    }
    .talk-grid-cell-bottom {
      background-color: transparent;

    }
  }

  &:hover,&.day-25:hover,&.day-26:hover {
    border-color: rgba(39, 58, 58, 0.12);
    background: rgba(231, 255, 255, 0.6);
  }

  &.day-25 {
    background: #E8E5F7;
  }

  &.day-26   {
    background: #ECF1FB;
  }

  .talk-grid-cell-main {
    padding: 10px 10px 0;
    background-color: rgba(255,255,255,0.8);
    height: 160px;
    cursor: pointer;
    overflow: hidden;
  }

  .talk-terms {
    margin-top: 10px;
    margin-bottom: px;
  }

  .talk-term-container {
    vertical-align: top;
    display: inline-block;
    transition: 1000ms opacity;
  }
  .talk-term-enter {
    overflow: hidden;
    opacity: 0.01;
  }
  .talk-term-enter-active {
    opacity: 1;
  }
  .talk-term-leave {
    opacity: 0;
  }

  .talk-term {
    vertical-align: top;
    display: inline-block;
    font-size: 0.8em;
    margin: 0 4px 4px 0;
    padding: 3px;
    background: rgba(0, 0, 0, 0.05);
  }

  .talk-title {
    font-style: normal;
    font-size: 1.15em;
    margin: 0 0 0.3em;
    text-transform: none;
  }

  .talk-speakers {
    font-size: 0.9em;
    margin: 0 0 0.3em;
  }

  .talk-grid-cell-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    background: rgba(255,255,255,0.5);
    line-height: 30px;
    padding-top: 1px;

    .talk-time {
      float: right;
      font-size: 0.75em;
      color: rgba(0,0,0,0.3);
      padding-right: 10px;
    }

    .fa-desktop {
      font-size: 1.1em;
      line-height: 1;
    }

    a {
      color: #464646;
      display: inline-block;
      margin: 0 10px;

      &:hover {
        color: #fe2b75;
        border-bottom: none;
      }
    }

  }
}