.talk-pane {
  padding: 10px;
  border: 1px solid #eee;
  background-color: rgba(240,240,240,0.4);
  margin: 0 0 10px;

  header {
    font-size: 0.7em;
  }

  .talk-title {
    text-transform: none;
    font-style: normal;
  }
}