$transition-time: 300ms;
$transition-enter-delay-time: 500ms;
$focused-term-line-color: rgba(254, 43, 117, 0.4);
$focused-term-rect-color: rgb(254, 43, 117);
$focused-term-text-color: #fff;
$toggled-term-rect-color: #4c3e8b;
$toggled-term-text-color: #fff;
$in-frame-term-rect-color: #3968BF;
$in-frame-term-text-color: #fff;
$timestamp-marker-fill: lighten($focused-term-rect-color, 15%);


.term-vis-container {
  position: relative;

  .timeline-container {
    position: absolute;
  }

  svg.term-vis {
    position: absolute;
    top: 0;
  }

  .term-vis-line-layer {
    pointer-events: none;
  }

  .terms-container {
    position: absolute;
    top: 0;
    font-size: 14px;

    &.touched {
      font-size: 20px;
    }

    .detoggle-click-space {
      border-radius: 0 0 5px 5px;
      background-color: rgba(155, 182, 189, 0.10);
    }

    .touched .term {
      padding: 9px;
    }

    .term {
      transition: $transition-time transform, $transition-time opacity;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(192, 224, 224);
      border: 1px solid rgba(0,0,0,0.1);
      cursor: pointer;
      padding: 5px;
      white-space: nowrap;


      &.term-enter {
        opacity: 0.01;
      }

      &.term-enter-active {
        opacity: 1;
        transition-delay: $transition-time;
      }

      &.term-leave {
        opacity: 0.01;
      }

      &.focused {
        background-color: $focused-term-rect-color;
        color: $focused-term-text-color;
      }

      &.toggled {
        background-color: $toggled-term-rect-color;
        color: $toggled-term-text-color;
      }

      &.in-frame {
        background-color: $in-frame-term-rect-color;
        color: $in-frame-term-text-color;
      }
    }
  }
}

.term-vis {
  .timeline-bg {
    fill: #000;
    opacity: 0.05;
  }

  .time-group text {
    font-family: sans-serif;
    font-size: 11px;
    fill: rgba(0,0,0,0.2);
  }

  .time-group.focused text {
    fill: $focused-term-rect-color;
  }

  .time-group rect {
    fill: #f5f8f9;
  }

  .timestamp-marker {
    fill: $timestamp-marker-fill;
    stroke: darken($timestamp-marker-fill, 10%);
    cursor: pointer;

    &:hover {
      fill: #FFBAD2;
      stroke: #fe2b75;
    }
  }

  .timestamp-term-line {
    stroke: $focused-term-line-color;
    stroke-width: 2px;
    pointer-events: none;
  }
}
