$transition-time: 300ms;
$transition-enter-delay-time: 500ms;

.term-vis-container {
  position: relative;

  .timeline-container {
    position: absolute;
  }
}


.term-vis {
  font-size: 14px;
  background-color: rgba(200,200,200,0.2);

  .timeline-bg {
    fill: rgb(192, 196, 224);
    opacity: 0.3;
  }


  .timestamp-marker {
    fill: #A0CCE0;
    stroke: #81B3FF;
    cursor: pointer;
    &:hover {
      fill: #FFBAD2;
      stroke: #fe2b75;
    }
  }

  .timestamp-term-line {
    stroke: rgba(0, 0, 0, 0.15);
    stroke-dasharray: 2,1;
  }

  .terms.updating-terms .term rect {
    transition: $transition-time fill;
  }

  .term {
    transition: $transition-time transform, $transition-time opacity;

    &.term-enter {
      opacity: 0.01;
    }

    &.term-enter-active {
      opacity: 1;
      transition-delay: $transition-time;
    }

    &.term-leave {
      opacity: 0.01;
    }

    rect {
      fill: rgb(192, 224, 224);
      cursor: pointer;
    }

    text {
      transition-delay: 300ms;
      cursor: default;
      pointer-events: none;
    }

    &.focused rect {
      fill: #C4E3F1;
    }
  }

}
